*{
    background-color: pink;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    background-color: aqua;

}


.info{
    display: flex;
    margin-top: 30px;
}

.mainContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}


.h1{
    margin-top: 30px;
}


.but{
   margin-top: 30px;
   background-color: yellow;
}