*{
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
    display:flex;
    justify-content: center;
    align-items: center;
    /* margin-top:1rem; */
    height:100vh;
    overflow: hidden;
    margin:0;
}
.container{
    text-align: center;
}

.progress-container{
    display:flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    max-width: 100%;
    width:450px;
    position:relative;
}

/* for line  */
.progress-container::before{
    content:"";
    background-color: #e0e0e0;
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width:100%;
    z-index: -1;
}

.progress{
    background-color: #3498db;
    position :absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    height:4px;
    width:100%;
    z-index: -1;
    transition: 0.4 ease;

}
.circle{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height:30px;
    width:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:3px solid #ddd7d7;
    transition: 0.4 ease;
}
.circle.active{
    border-color: #3498db;
}

.btn{
    background-color: #3498db;
    border:0;
    color:#fff;
    border-radius: 6px;
    padding:8px 17px;
    margin:12px;
    font-family: inherit;
    font-size: 1.4rem;
}

.btn:active{
    transform:scale(0.98);
}
.btn:focus{
    outline: 0;
}

.btn:disabled{
    background-color: #e0e0e0;
    cursor: not-allowed;
}